#cat{
    height: 453px;
    width: 295px;
    background: url(./images/Right_cat_sprite_sheet.png);

    position: relative;
    left: 1000px;
    top: 1100px;
    transition: left 0.5s cubic-bezier(.64,.32,.72,.96),
                top 0.5s cubic-bezier(.64,.32,.72,.96);
}

#canvas{
    width: 3600px;
    height: 1800px;
    background: url(./images/jungle-cartoon-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body{
    background-attachment: fixed;
}