#cat{
    height: 453px;
    width: 295px;
    background: url(./images/Right_cat_sprite_sheet.png);

    transform: translate3d(50px, 50px, 0);
    transition: transform 1s cubic-bezier(.64,.32,.72,.96);
}

#canvas{
    width: 3600px;
    height: 1800px;
    background: url(./images/jungle-cartoon-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body{
    background-attachment: fixed;
}